.body{
    background-color: #525457;
}

.grid{
display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}


.search-container {
    position: relative;
}

.search-input {
    padding: 1rem 2.5rem 1rem 1rem !important;
    font-size: 1.1rem !important;
    height: 3rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.search-icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #6c757d;
}
